version 3.35.1

source https://nuget.org/api/v2

redirects: on

// Code
nuget FSharp.Core ~> 4

// Unit tests
nuget NUnit ~> 3.4.1
nuget FSharpLint.MSBuild

// Build infrastructure
nuget FAKE ~> 4.2
nuget SourceLink.Fake ~> 1.1
nuget NUnit.Console ~> 3.4.1
github fsharp/FAKE modules/Octokit/Octokit.fsx
