root = true

# Default
[*]
charset = utf8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

[*.sln]
charset = unset
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
end_of_line = unset

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

[*.sh]
end_of_line = lf
